.container {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //gap: 10px;
}

:host {
  // base
  --content-width: 1320px;
  --content-max-width: 1400px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-max-width: calc(var(--content-max-width) + (var(--container-offset) * 2));
}

.big-container {
  margin: 0 auto;
  min-height: 100%;
  padding: 0 var(--container-offset);
  max-width: var(--container-max-width);
}

.container {
  margin: 0 auto;
  min-height: 100%;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

//.products {
//  display: grid;
//  grid-template-columns: repeat(5, 1fr);
//  grid-gap: 5px;
//}
