<ng-container>
  <div class="container-app">
    <h1>{{ displayType === DisplayType.PRODUCTS ? 'Все Товары' : 'Категории' }}</h1>

<!--    <search-filtration-items-ui-->
<!--      *ngIf="displayType === DisplayType.PRODUCTS"-->
<!--      (filterItems)="OnFilteredItems($event)"-->
<!--    >-->
<!--    </search-filtration-items-ui>-->

    <div class="items">
      <ng-container *ngFor="let item of items">
        <product-card-ui
          *ngIf="isProduct(item)"
          [product]="item"
        >
        </product-card-ui>

        <category-product-card-ui
          *ngIf="isCategory(item)"
          [category]="item"
          [isSelected]="isCategorySelected(item)"
          (categoryItems)="onCategorySelect($event)"
        >
        </category-product-card-ui>
      </ng-container>
    </div>
  </div>
</ng-container>
