a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  object-fit: cover;
}

:root {
  // base
  --content-width: 1600px;
  --content-max-width: 1800px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-max-width: calc(var(--content-max-width) + (var(--container-offset) * 2));
}

.big-container-app {
  margin: 0 auto;
  min-height: 100%;
  max-width: var(--container-max-width);
  padding: 0 var(--container-offset);
}

.container-app {
  margin: 0 auto;
  min-height: 100%;
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
}
